@import "components/sass-styles/variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $background-colour-main;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.main-header{
  height: 4em;
  background-color: #454545;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 80%;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 10px;
  }
}
