* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.main-header{
  height: 4em;
  background-color: rgb(69, 69, 69);
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 80%;
  }
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}
