.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  padding: 0.5em;
  margin-bottom: 1em;
  form {
    width: 100%;
    max-width: 75em;
    display: flex;
    .form-l-side {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .form-prompt {
        font-size: 1em;
        color: #696969;
        padding-bottom: 0.5em;
        display: flex;
        justify-content: flex-start;
      }
      .form-input textarea {
        width: 100%;
        min-height: 3em;
        height: 100%;
        padding: 0.5em;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    .form-r-side {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0.5em 1em 0em 1em;
      .form-author {
        padding: 0.5em;
      }
      button {
        padding: 0.5em 1em 0.5em;
        background-color: #fec701;
        border: none;
        border-radius: 0.2em;
        font-size: inherit;
      }
    }
  }
}
