@import "components/sass-styles/variables.scss";

.postItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  padding: 0.5em;
  margin: 0.5em;
  background-color: $background-colour-postItem;
  .postItem-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 2%;
    text-align: left;
    background-color: white;
    border-radius: 0.25em;
    .postItem-content-prompt {
      color: $font-colour-secondary;
    }
    .postItem-content-text {
      padding-top: 0.5em;
    }
  }
  .postItem-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
    width: 100%;
    .postItem-metadata-left {
      display: flex;
      flex-direction: column;
      width: 20%;
      .postItem-metadata-left-auth {
        padding-bottom: 0.5em;
      }
      .postItem-metadata-left-date {
        font-size: smaller;
      }
    }
    .postItem-metadata-right {
      display: flex;
      justify-content: right;
      width: 80%;
      max-width: 30em;
    }
  }
}
