.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid lightseagreen;
  width: 90%;
  padding: 0.5em;
  margin: 0.5em;
  .content {
    display: flex;
    align-items: center;
    width: 90%;
    height: 3em;
    border: 1px solid grey;
  }
  .metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px dashed darkblue;
    width: 80%;
    .reactions {
      display: flex;
    }
    .author {
      // border: 1px solid lightcoral;
    }
  }
}