.reaction {
  width: 7em;
  background-color: white;
  border: none;
  border-radius: 5px;
  .reaction-count {
    font-weight: bold;
  }
  .reaction-icon img {
    height: 2.2em;
    width: 2.2em;
    margin-bottom: -4px;
  }
  .reaction-label {
    color: grey;
  }
}
.reaction--highlight {
  background-color: lightgrey;
}
.reaction:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.1s;
  .reaction-icon {
    transform: scale(1.3);
  }
}
