$font-family: "Source Sans Pro", sans-serif;
$font-colour-primary: rgb(30, 30, 30);
$font-colour-secondary: #696969;
$font-colour-tertiary: #b8b8b8;

$background-colour-main: aliceblue;
$background-colour-postItem: #eeeeee;
$background-colour-button-highlight: #ffffffda;


$border: lightgrey;


$max-width: 75em;

